html {
    scroll-behavior: smooth;
}

/* Set up for root colors for easier reusability through variables */
:root {
    --clr-primary--100: #F6E0DF;
    --clr-primary--500: #FF7256;
    --clr-primary--900: #A86867;
    --clr-neutral--100: #ffffff;
    --clr-neutral--300: #ffffffb7;
    --clr-neutral--500: #afadad;
    --clr-neutral--900: #2a2b2e;
    --fs: 1.4rem;
    --br: 0.4em;
}

/* Root style */
body {
    width: 100%;
    background-color: var(--clr-primary--100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
}

button.primaryAction.btn__sign {
    background-color: bisque;
    border-radius: 15%;
    border-color: transparent;
}

button.primaryAction.btn__sign:hover {
    background-color: lightcoral;
    color: wheat;
}

.btn__sign {
    background-color: #F6E0DF !important;
    border-radius: 15% !important;
    color: #2a2b2e !important;
}

.btn__sign:hover {
    background-color: #fd9580 !important;
}

.btn__upd {
    background-color: #eba027 !important;
}

.btn__upd:hover {
    background-color: rgb(229, 123, 58) !important;
    color: white !important;
}

.btn__cancl {
    background-color: #2a2b2e !important;
    color: white !important;
}

.btn__cancl:hover {
    background-color: #6e2a1d !important;
}

/* Navigation style */

.nav__container {
    width: 100%;
    background-color: var(--clr-primary--500);
}

.nav__content {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1em 2em;
}

.nav__logo {
    color: var(--clr-primary--100);
    font-size: 2rem;
    font-weight: 900;
}

.navbar__menu {
    width: 100%;
    display: flex;
    justify-content: end;
    text-align: right;
    color: white;
}

.navbar__menu .navbar__menu--item {
    margin-left: 5vw;
    color: white;
    font-size: 1.6rem;
}

.dropdown__menu {
    background-color: var(--clr-primary--500);
    margin-top: 1.7em;
    color: white;
    padding: 2em 0;
    right: 0;
    width: 100%;
}

.dropdown__menu--item {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-neutral--900);
    font-weight: 900;
    font-size: 1.3rem;
    margin: 0.2em 0;
    padding: 0.25em 0;
}

.dropdown__menu--item:hover {
    background-color: #fd9580;
}

.dropdown__menu--welcome {
    color: white;
}

.dropdown__menu--welcome:hover {
    color: white;
}

.main__container {
    margin-top: 10vh;
    padding: 0 2em;
}

.hero {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
}

.hero__section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7vh;
}

.hero__section--item {
    position: relative;
    background-color: white;
    color: var(--clr-neutral--900);
    font-size: 0.8rem;
    border-radius: var(--br);
    padding: 1.8em;
    width: 50%;
}

.hero__section--item h3 {
    font-weight: 900;
    padding-bottom: 0.2em;
}

.hero__section--item a {
    color: var(--clr-primary--900);
    font-weight: 900;
}

.hero__section--item a:hover {
    color: var(--clr-primary--500);
    text-decoration: none;
}

.hero__section--item:first-child {
    margin-right: 0.8em;
}

.hero__section--item:last-child {
    margin-left: 0.8em;
}

.hero__section--item p {
    margin: 0;
}



/* Landing page style */

.blog-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-auto-flow: dense;
    gap: 1.5rem;
}

.blog {
    width: 100%;
    display: grid;
    grid-row: 2fr 0.1fr 1fr 0.1fr;
}

.blog__card {
    background-color: white;
    display: grid;
    padding: 0.8em;
    gap: 0.5rem;
    border-radius: var(--br);
}

.blog__card--image {
    width: 100%;
    background-color: #A86867;
    height: 250px;
}

.blog__card--image img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.blog__card--author {
    justify-self: start;
    align-self: start;
    padding: 0 0.5em;
}

.blog__card--link {
    justify-self: start;
    align-self: start;
    color: var(--clr-primary--900);
    min-height: 7rem;
    padding: 0 0.5em;
}

.blog__card--link .card-title {
    font-weight: 900;
}

.blog__card--link:hover {
    color: var(--clr-primary--500);
    text-decoration: none;
}

.blog__card--data {
    justify-self: start;
    align-self: start;
    padding: 0 0.5em;
}

.blog__navigation {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
}

/* Details - article style */

.article {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 12vh;
}

.article__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.article__header--item {
    background-color: white;
    color: var(--clr-neutral--900);
    font-size: 1.1rem;
    padding: 1.1em;
    width: 100%;

}

.article__header--item:last-child {
    width: 100%;
}

.article__header--item:last-child img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.btn__submit {
    background-color: var(--clr-primary--500);
}

.btn__submit:hover {
    background-color: var(--clr-primary--100);

}

.likes__data {
    width: 100%;
    display: flex;
    align-items: center;
}

.likes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.likes .d-inline,
.likes .text-secondary {
    width: 100%;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 3rem;
}

.likes .d-inline span i {
    margin-bottom: 0.3em;
}

.likes:first-child {
    margin-right: 1em;
}

.likes .d-inline button,
.likes .text-secondary i {
    margin-right: 0.3em;
}

.likes .d-inline button {
    border: none;
}


.likes .d-inline button .fas {
    color: var(--clr-primary--500);
}

/* Footer Styles  */

.footer__main {
    margin-top: 6vh;
    width: 100%;
    background-color: var(--clr-primary--900);
}

.footer__content {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    color: var(--clr-neutral--100);
}

.footer__content--logo {
    font-size: 2rem;
    color: var(--clr-neutral--100);
    font-weight: 900;
}

.footer__content--info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 0;
}

.creator__name,
.sponsor {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.2rem;
    margin-bottom: 0.2em;
    letter-spacing: 0.05rem;
}

.creator__name span,
.sponsor span a {
    font-weight: 900;
    margin-left: 0.5em;
    color: var(--clr-neutral--100);
    text-decoration: none;
}

.creator__links,
.sponsor__links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.creator__links {
    width: 70%;
    margin: 0 auto;

}

.creator__link a i,
.sponsor__link a i {
    font-size: 1.8rem;
    color: var(--clr-neutral--100);
}

.creator__link a i:hover,
.sponsor__link a i:hover {
    color: #ffffffa8;
}

.pagination li>a {
    border-radius: 10%;
    color: #A86867;
}

.pagination li>a:hover {
    background-color: var(--clr-primary--500);
    color: white;

}

.button__top {
    background-color: #a868679f;
}

/* Media Queries */
/* Start for media queries for mobile/smaller devices */

@media all and (max-width: 1970px) {
    .footer__content {
        max-width: 70rem;
    }
}

/* 1248px for cards info */
@media all and (max-width: 1097px) {
    .nav__content {
        justify-content: space-between;
    }

    .hero__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 7vh;
    }

    .hero__section--item {
        width: 100%;
    }

    .hero__section--item:first-child {
        margin-right: 0;
        margin-bottom: 3em;
    }

    .hero__section--item:last-child {
        margin-left: 0;
    }

    .hero__image--container {
        right: 0rem;
        top: -4.5rem;
    }

    .hero__image--flower {
        top: -4rem
    }
}

@media all and (max-width: 991px) {
    .navbar__menu li a {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar__menu .navbar__menu--item {
        margin-left: 0;
    }

    .footer__content--info {
        flex-direction: column;
    }

    .creator__links,
    .sponsor__links {
        width: 30%;
        margin: 0 auto;
    }

    .creator__links {
        width: 25%;
        margin-bottom: 1.5em;
    }

    .article__header--item h1 {
        font-size: 1.6rem;
    }

    .article__header--item p {
        font-size: 1rem;
    }
}

@media all and (max-width: 624px) {

    .nav__content {
        padding: 0.5em;
        justify-content: space-between;
    }

    .nav__logo {
        font-size: 1.2rem;
        margin-left: 0.5em;
    }

    .hero {
        font-size: 0.8rem;
    }

    .article__header {
        width: 100%;
    }

    .article__header--item {
        padding: 0.3em;
    }

    .article__header--item img {
        height: auto;
        max-width: 100%;
    }

    .post-title {
        max-width: 100%;
    }

}

@media all and (max-width: 566px) {

    .main__container {
        /* margin-top: 6vh; */
        padding: 0 0.7em;
    }

    .article__header--item:first-child {
        /* font-size: 1.3rem; */
        width: 60%;
    }

    .article__header--item h1 {
        font-size: 1.2rem;
    }

    .article__header--item:last-child {
        width: 40%;
    }
}

@media all and (max-width: 550px) {

    .post-title {
        font-size: 1.9rem;
    }

    .hero {
        font-size: smaller;
    }

    .card-body {
        font-size: 0.9rem;
    }

    .article__header--item p {
        font-size: 0.8rem;
    }
}

@media all and (max-width: 495px) {

    .comments {
        width: 100%;
        margin: 0;
    }

    .card-body {
        padding: 0;
        width: 100%;
    }

    .creator__name,
    .sponsor {
        flex-direction: column;
        text-align: center;
    }
}