html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgb(152, 1, 1), rgb(255, 242, 0));
    font-family: 'Playfair Display', serif;

}

nav,
footer {
    background-image: linear-gradient(to bottom left, rgb(235, 227, 227), rgb(146, 34, 3));
}

nav a:hover {
    background-color: rgb(239, 181, 181) !important;
    border-radius: 40%;
    color: black !important;
}

footer a:hover {
    color: black !important;
    background-color: rgb(228, 75, 75) !important;
    border-radius: 50%;
}

/* 
.bg-linear {
    background-image: linear-gradient(to bottom left, rgb(187, 10, 10), rgb(231, 239, 234));
    color: white !important;
} */