{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- For the favicon error not to show up -->
    <link rel="shortcut icon" href="#">
    <!-- Google Fonts, Css and Bootstrap css-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- script links with minified jQuery  -->
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/0ab8070b0e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}


    {% block extra_js %}
    {% endblock %}
    <title>Aromatic Experience</title>
</head>

<body>
    <header class="nav__container sticky-top">
        <nav class="nav__content navbar navbar-expand-lg navbar-light">
            <a class="nav__logo navbar-brand text-white" href="{% url 'home' %}">Aromatic Therapy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav navbar__menu">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbar__menu--item" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            My Profile
                        </a>
                        <div class="dropdown-menu dropdown__menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item navbar__menu--item" href="#"></a>
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <div class="dropdown__menu--item dropdown__menu--welcome"> Welcome {{user.username}}</div>
                            <a class="dropdown-item dropdown__menu--item" href="{% url 'admin:index' %}">Blog Management</a>
                            {% endif %}
                            <a class="dropdown-item dropdown__menu--item" href="{% url 'account_logout' %}">Logout</a>
                            {% else %}
                            <a class="dropdown-item dropdown__menu--item" href="{% url 'account_signup' %}">Register</a>
                            <a class="dropdown-item dropdown__menu--item" href="{% url 'account_login' %}"> Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% if messages %}
                <ul class="list-group text-white intro" id="msg">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <li>{{message | safe}}</li>
                        {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <main class="flex-shrink-0 main-bg main__container">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>
    {% block postloadjs %}
    {% endblock %}
    <footer class="footer__main">

        <div class="w-100 p-2 mt-4 text-center rounded-top fixed-bottom footer button__top">
            <a href="#" class="text-white">BACK TO TOP<i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
            </a>
        </div>
        <div class="footer__content">

            <div class="footer__content--logo">
                Aromatic Therapy
            </div>
            <div class="footer__content--info">
                <div class="footer__content--creator">
                    <div class="creator__name">Blog developed by: <span>Martina Grganic</span></div>
                    <ul class="creator__links">
                        <li class="creator__link">
                            <a href="https://www.linkedin.com/in/martina-grganic/" alt="A linkedIn link of a developer" target="_blank" rel="noopener" aria-label="Visit Martina Grganic LinkedIn page">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="creator__link">
                            <a href="https://github.com/totalnoMartina" title="A github link of a developer" target="_blank" rel="noopener" aria-label="Visit Martina Grganic GitHub page">
                                <i class="fab fa-github-square"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer__content--sponsor">
                    <div class="sponsor">Blog sponsored by: <span><a href="https://www.doterra.com/GB/en_GB" class="dotera" target="_blank">Doterra</a></span></div>
                    <ul class="sponsor__links">
                        <li class="sponsor__link">
                            <a href="https://www.instagram.com/doterra/?hl=en" title="Link to Doterra Instagram" target="_blank" rel="noopener" aria-label="Visit Doterra instagram page">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="sponsor__link">
                            <a href="https://www.facebook.com/doterra/" title="Link to Doterra Facebook" target="_blank" rel="noopener" aria-label="Visit Doterra facebook page">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <!-- <li class="sponsor__link">
                            <a href="" target="_blank" rel="noopener" aria-label="Visit Doterra facebook page">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>