{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="form__container">
    <h1>Thanks for geting in touch!</h1>
    <p>We will respond within a week, Thanks!</p>

    <div class="row text-center">
       <br>
        <form method='post' class="form">
            {% csrf_token %}
            {% for field in form %}
          <div class="m-1 w-100"> {{ field }} </div> 
            {% endfor %}
            <button type='submit' class='btn__submit'>Send Message</button>
        </form>
    </div>
   

</div>

{% endblock %}