{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="article">
    <div class="article__header shadow">
        <div class="article__header--item">
        <h2 class="card-title">{{ draft_post.title }}</h2>
        <p class="post-subtitle">{{ draft_post.author }} | {{ draft_post.created }}</p>
            <a href="{% url 'edit_post' slug=draft_post.slug username=request.user.username %}" class="btn btn__upd my-2">Update</a>
            <a href="{% url 'post_confirm_delete' slug=draft_post.slug username=request.user.username %}" class="btn btn__cancl my-2">Delete</a>                
        </div>
                <div class="article__header--item">
                    {% if "placeholder" in draft_post.related_img.url %}
                    <img src="https://www.nicepng.com/png/full/104-1048864_engine-oil-png-background-image-cooking-oil-drop.png" class="img-fluid" alt="placeholder image">
                    {% else %}
                    <img src="{{ draft_post.related_img.url }}" alt="image related to post">
                    {% endif %}
                </div>
            </div>

    <div class="container my-4">
        <div class="col card my-4 top">
            <div class="card-body">
                <div class="card-text ">
                    <!-- Filter 'safe' for decoding characters rendered from blog posts -->
                    {{ draft_post.content | safe }}
                </div>
            </div>
        </div>
{%endblock%}