{% extends "base.html" %}

{% block content %}



<div class="container-fluid">
    <header>
        <div class="row mt-5">
            <div class="col mx-4 bg-white rounded p-3 text-black mt-3">
                <h3>How This All Started</h3>
                I have been working with Doterra Company with distributing
                collections of essential oils, and all this from home. Recently,
                I came to realize that my friends enjoy the blends I come up with
                and have been encouraging me to share my insights on this topic.
                As I am also a writer, I decided to take up on this challenge and
                create a community platform for all of us passionate about blends
                and essential oils. I hope we all put together a nice collection of
                blended oils for any occasion. If you have some ideas and would like
                to contribute to this platform, feel free to leave a comment relating
                to this, and I am happy to have a video call.

            </div>
            <div class="col mx-4 bg-white rounded p-3 text-black mt-3">
                <h3>Where do Essential Oils Come From?</h3>
                A variety of plants cover the Earth in different shapes,
                sizes, colors, and scents. Many of these plants contain
                compounds that typically can't be seen with the naked eye—they
                hide within the roots, flowers, seeds, bark, or other areas of
                the plant. These compounds are known as essential oils. They are
                highly concentrated, making them extremely potent. Also referred
                to as volatile aromatic compounds, essential oils give a plant its
                aroma, protect it from harsh environmental conditions and insects,
                and even play a part in plant pollination.
            </div>
        </div>
    </header>
    <div class="row">


        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 px-4 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.related_image.url %}
                                <img class="card-img-top" src="https://pixelz.cc/images/essential-oils-uhd-4k-wallpaper/">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.related_img.url }}" style="height: 250px;">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created}} <i class="far fa-heart"></i>
                                {{ post.num_of_likes }}</p>
                            {% for comment in comments %}
                            {% with comments.count as total_comments %}
                            <strong class="text-secondary"><i class="far fa-comments"></i>
                                <!-- Our total_comments variable goes before the closing strong tag -->
                                {{ total_comments }}</strong>
                            {% endwith %}
                            {% endfor %}
                        </div>

                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                <div class="row">
                    {% endif %}

                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}